
header{

    background: url(../images/header-bg.png) center center no-repeat scroll #ded;
    background-size: cover;
    color: #fff; 
}
.title-header{
    text-transform: uppercase;
    font-size: 46pt;
    margin-top: 180px;
    text-align: center;
}

.para-header{
    font-size: 22pt;
    padding: 0 5%;
    text-align: center;
}

.about{
    background-color: #f4f4f4;
}
.about-monitor{
    width: 100%;
    
}

.para{
    display: block;
    text-align: justify;
    font-size: 15pt;  
    margin-top: 10%;
}
