
header{

    background: url(../images/header-bg.png) center center no-repeat scroll #ded;
    background-size: cover;
    color: #fff; 
}
.title-header{
    text-transform: uppercase;
   
    margin-top: 180px;
    text-align: center;
}

.para-header{
    
    padding: 0 5%;
    text-align: center;
}

.about{
    background-color: #f4f4f4;
    padding-top: 50px;
}
.about .section-title:after{
    width: 30%;
    margin: 10px 0;
}
.about-monitor{
    width: 100%;
    
}

.services .para{
    padding: 0 20%;
    text-align: center;
}
.icon-about{
    
}
.title-icon{
    margin-top: 20px;
    text-transform: uppercase;
    font-family: lato-regular;
  
}
.prices{
    
}
.prices-btn{
    margin-top: -30px;
}
.price-list{
list-style: none;
text-align: center;
padding: 0;
line-height: 30px;
font-size: 14px;
margin-top: 40px;
}


